<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Process Claim</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
      <h4>Use the form below to submit a claim</h4>
      <div ng-controller="ProcessClaimsCtrl">
        <form novalidate id="processForm">
          <fieldset>
            <input placeholder="Service Performed" type="text" tabindex="1" required autofocus ng-model="claim.servicePerformed">
          </fieldset>
          <fieldset>
            <input placeholder="Service Provider Id" type="text" tabindex="2" required ng-model="claim.serviceProviderId">
          </fieldset>
          <fieldset>
            <input placeholder="Employer No" type="text" tabindex="3" required ng-model="claim.employerNo">
          </fieldset>
          <fieldset>
            <input placeholder="Employee No" type="text" tabindex="4" required ng-model="claim.employeeNo">
          </fieldset>
          <fieldset>
            <input placeholder="Amount" type="text" tabindex="4" required ng-model="claim.amount">
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" ng-click="processClaim(claim)">Process</button>
          </fieldset>
        </form>
        <pre>status = {{status}}</pre>
      </div>
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">List All Claims</label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <h4>List Claims</h4>
      <div  ng-controller="ListClaimsCtrl">
        <table style="border:1px">
          <th>
            <td>Service Performed</td>
            <td>Service Provider Id</td>
            <td>Employer No</td>
            <td>Employee No</td>
            <td>Claimable</td>
            <td>Amount</td>
          </th>
          <tr ng-repeat="claim in claims">
            <td>{{ claim.Record.servicePerformed }}</td>
            <td>{{ claim.Record.serviceProviderId }}</td>
            <td>{{ claim.Record.employerNo }}</td>
            <td>{{ claim.Record.employeeNo }}</td>
            <td>{{ claim.Record.isClaimable }}</td>
            <td>{{ claim.Record.amount }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
