<h2>Hi, {{vm.user}}</h2>
<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Process Claim</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
      <h4>Use the form below to submit a claim</h4>
      <div>
        <form name="form" role="form" id="processForm" ng-submit="vm.processClaim()">
          <fieldset>
            <input placeholder="Service Performed" type="text" tabindex="1" required autofocus ng-model="vm.claim.servicePerformed">
          </fieldset>
          <fieldset>
            <input placeholder="Service Provider Id" type="text" tabindex="2" required ng-model="vm.claim.serviceProviderId">
          </fieldset>
          <fieldset>
            <input placeholder="Employer No" type="text" tabindex="3" required ng-model="vm.claim.employerNo">
          </fieldset>
          <fieldset>
            <input placeholder="Employee No" type="text" tabindex="4" required ng-model="vm.claim.employeeNo">
          </fieldset>
          <fieldset>
            <input placeholder="Amount" type="text" tabindex="4" required ng-model="vm.claim.amount">
          </fieldset>
          <div class="form-actions">
              <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Process</button>
              <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">List All Claims</label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <h4>See below the list of all claims processed on the network.</h4>
      <div>
        <table class="table-fill">
          <thead>
            <tr>
              <th>Service Performed</th>
              <th>Service Provider Id</th>
              <th>Employer No.</th>
              <th>Employee No.</th>
              <th>Is Claimable</th>
              <th>Amount Claimed</th>
              <th>Amount Processed</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="claim in vm.claims">
              <td>{{ claim.Record.servicePerformed }}</td>
              <td>{{ claim.Record.serviceProviderId }}</td>
              <td>{{ claim.Record.employerNo }}</td>
              <td>{{ claim.Record.employeeNo }}</td>
              <td>{{ claim.Record.isClaimable}}</td>
              <td>{{ claim.Record.amountClaimed }}</td>
              <td>{{ claim.Record.amountProcessed }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<a ng-click="vm.logout()" ng-show="vm.user">Logout</a>
